<?php declare(strict_types=1);

use PhpCsFixer\Config;
use PhpCsFixer\Finder;

/**
 * Last processed php-cs-fixer release: v2.15.0.
 *
 * @see https://github.com/FriendsOfPHP/PHP-CS-Fixer/releases
 */
$finder = Finder::create()
    ->in(__DIR__)
    ->exclude('tmp') // Can be removed when ignoreVCSIgnored is available
    ->name('.php_cs.dist');

return Config::create()
    ->setFinder($finder)
    ->setRiskyAllowed(true)
    ->setRules([
        '@Symfony'                => true,
        'align_multiline_comment' => [
            'comment_type' => 'all_multiline',
        ],
        'array_indentation' => true,
        'array_syntax'      => [
            'syntax' => 'short',
        ],
        'binary_operator_spaces' => [
            'default' => 'align_single_space_minimal',
        ],
        'blank_line_after_opening_tag' => false,
        'blank_line_before_statement'  => [
            'statements' => [
                'break', 'continue', 'case', 'declare', 'default', 'do', 'for', 'foreach',
                'if', 'return', 'switch', 'throw', 'try', 'while', 'yield',
            ],
        ],
        'combine_consecutive_issets' => true,
        'combine_consecutive_unsets' => true,
        'combine_nested_dirname'     => true,
        'compact_nullable_typehint'  => true,
        'concat_space'               => [
            'spacing' => 'one',
        ],
        'declare_strict_types'         => true,
        'dir_constant'                 => true,
        'escape_implicit_backslashes'  => true,
        'explicit_indirect_variable'   => true,
        'explicit_string_variable'     => true,
        'fully_qualified_strict_types' => true,
        'function_to_constant'         => true,
        'header_comment'               => [
            'header' => '',
        ],
        // Enable this if required version ever reaches 7.3+
        // 'heredoc_indentation' => true,
        'increment_style' => [
            'style' => 'post',
        ],
        'is_null' => [
            'use_yoda_style' => false,
        ],
        'list_syntax' => [
            'syntax' => 'short',
        ],
        'method_chaining_indentation'             => true,
        'modernize_types_casting'                 => true,
        'multiline_comment_opening_closing'       => true,
        'multiline_whitespace_before_semicolons'  => true,
        'native_function_type_declaration_casing' => true,
        'no_alias_functions'                      => true,
        'no_alternative_syntax'                   => true,
        'no_extra_blank_lines'                    => [
            'tokens' => [
                'break', 'case', 'continue', 'curly_brace_block', 'default', 'extra', 'parenthesis_brace_block',
                'return', 'square_brace_block', 'throw', 'use_trait',
                // TODO: Add 'use' when php-cs-fixer #3582 is fixed
            ],
        ],
        'no_null_property_initialization' => true,
        'no_superfluous_elseif'           => true,
        'no_superfluous_phpdoc_tags'      => true,
        'no_unset_cast'                   => true,
        'no_unset_on_property'            => true,
        'no_useless_else'                 => true,
        'no_useless_return'               => true,
        'ordered_class_elements'          => true,
        'ordered_imports'                 => [
            'imports_order' => ['class', 'function', 'const'],
        ],
        'php_unit_construct'       => true,
        'php_unit_dedicate_assert' => [
            'target' => 'newest',
        ],
        'php_unit_dedicate_assert_internal_type' => true,
        'php_unit_expectation'                   => true,
        'php_unit_no_expectation_annotation'     => true,
        'php_unit_set_up_tear_down_visibility'   => true,
        'php_unit_test_annotation'               => true,
        'php_unit_test_case_static_method_calls' => [
            'call_type' => 'self',
        ],
        'phpdoc_no_alias_tag' => [
            'replacements' => [
                'link' => 'see',
                'type' => 'var',
            ],
        ],
        'phpdoc_order'                                  => true,
        'phpdoc_trim_consecutive_blank_line_separation' => true,
        'phpdoc_types_order'                            => [
            'null_adjustment' => 'always_last',
        ],
        'phpdoc_var_annotation_correct_order' => true,
        'pow_to_exponentiation'               => true,
        'return_assignment'                   => true,
        'simple_to_complex_string_variable'   => true,
        'simplified_null_return'              => true,
        'single_class_element_per_statement'  => true,
        'single_trait_insert_per_statement'   => true,
        'space_after_semicolon'               => [
            'remove_in_empty_for_expressions' => true,
        ],
        'ternary_to_null_coalescing' => true,
        'visibility_required'        => [
            'elements' => [
                'const', 'method', 'property',
            ],
        ],
        'yoda_style' => [
            'equal'            => false,
            'identical'        => false,
            'less_and_greater' => false,
        ],
    ]);
